.hero-showcase img {
  animation: kenburns 15s ease-in-out infinite;
}

@keyframes kenburns {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.poster-item {
  width: auto;
  height: auto;
}